html {
    background-image: url('bg.jpg');
}

iframe{
    width: 720px;
    height: 720px;
    margin-top: 75px;
}

#main {
  margin: auto;
  width: 50%;
}

#name{
    position:fixed;
    left: -10%;
    top: 20%;
    transform: rotate(-90deg);
}

#logo {
    position:fixed;
    right: 0%;
    bottom: 0%;
    margin: 0;
    padding:0;
    mix-blend-mode: difference;
}